body{
    background: url('/public/images/bg-verde.jpg') fixed ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .sidebar{
    background-color: #8ebe0065;
    backdrop-filter: blur(10px);
}
  
}


 .telaLogin{
   
    background-color: #444e476e;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    width: 80vh;
    height: 50vh;
    align-items: center;
 }

 .telaFormPedido{
    padding: 50px;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    align-items: center;
 
 }

 .cardListagem{
    padding: 30px;
    backdrop-filter: blur(10px);
   
    align-items: center;
    background-color: rgba(0, 0, 0, 0.192);
    display: flex;
 }

 .cardDisplayProdutos{
   background-color: rgba(0, 0, 0, 0.192);
   backdrop-filter: blur(10px); 
   border-radius: 10px;
   border-color: #aee239;
}

.cardListagemProdutos{
   margin-left: 10px;
   display: flex;
   
}

 .barraDePesquisa{
   border-radius: 10px;
   align-items: center;
   background-color: rgba(0, 0, 0, 0.192);

 }

 .modalDetalhesPedido{
   padding: 30px;
   backdrop-filter: blur(10px);
   border-radius: 10px;
   align-items: center;
   background-color: rgba(0, 0, 0, 0.192);

 }
 
 .direcao{
   flex-direction: column;
 }

.campoErro{
   background-color: rgb(245, 110, 0);
}

.bgVerde{
   background-color: #aee239;
}

.bgVermelho{
   background-color: #e23939;
}

.flashErroDetalhes{
   color:#ffffff; 
   font-size: 1.5em;
}

.tamFonte1{
   font-size: 1.3em;
}

.blurNavbar{
   backdrop-filter: blur(10px);
}



.bodyListaPedidos {
   font-family: 'Arial', sans-serif;
   background-color: #f4f4f4;
   margin: 0;
   padding: 0;
}

.container {
   margin-top: 20px;
}

.mensagem {
   color: #777;
}

.preco {
   font-weight: bold;
   color: #3498db;
}