#{extends 'main.html' /}
#{if p}
#{set title:'Editar Pedido'/}
#{/if}
#{else}
#{set title:'Cadastrar Pedido'/}
#{/else}
<br><br>

<div class="container col-5 fs-6">
	<form action="@{Pedidos.cadastrar}" method="POST">
		<input type="hidden" name="p.id" value="${p?.id}">
<div class="telaFormPedido text-white fs-6">
		<div class="mb-3">
			<label class="form-label">Nome:</label>
			<input type="text" name="p.nome" class="form-control" value="${p?.nome}"> #{error 'p.nome' /}
		</div>

		<div class="mb-3">
			<label class="form-label">Endereço</label>
			<input type="text" name="p.endereco" class="form-control">
		</div>

		<div class="container col-8 d-flex">
			<div class="m-3">
				<label class="form-label">Gás:</label>
				<input type="text" name="p.qntdGas" class="form-control">
			</div>
			<div class="m-3">
				<label class="form-label">Valor unitario:</label>
				<input type="text" name="p.valorGas" class="form-control">
			</div>

			</div>

			<div class="container col-8 d-flex">

			<div class="m-3">
				<label class="form-label">Água:</label>
				<input type="text" name="p.qntdAgua" class="form-control">
			</div>
      
			<div class="m-3">
				<label class="form-label">Valor unitario:</label>
				<input type="text" name="p.valorAgua" class="form-control">
			</div>

		</div>
  
		<div class="mb-3">
			<label class="form-label">Data:</label>
			<input type="date" name="p.data" class="form-control">
		</div>
  
  		#{if cliLista?.id}
  		
		<div class="mb-3">
			<label class="form-label">Clientes Fieis: </label>
			<select name="p.cliente.id" class="form-select" aria-label="Default select example">
				<option selected></option>
				#{list items:cliLista, as:'lc'}
				<option value="${lc.id}">${lc.nome}</option>
				#{/list}
			</select>
		</div>	
		
    	#{/if}
		<div class="container d-flex justify-content-center p-3">
			<input class="btn btn-dark col-2 " type="submit" />
		</div>
		</div>
	</form>
</div>