#{extends 'main.html' /}
#{if p}
#{set title:'Editar Pedido'/}
#{/if}
#{else}
#{set title:'Cadastrar Pedido'/}
#{/else}

<br><br>
	
<div class="container col-5 fs-6">
	
	<form action="@{Pedidos.cadastrar}" method="POST">
		<input type="hidden" name="p.id" value="${p?.id}">
	<div class="telaFormPedido text-white fs-6">
	#{if flash.error}
	<br>
	<div class="alert d-flex justify-content-center mt-2" role="alert">
						
						<div class="rounded-3 align-items-center d-flex flex-row campoErro"  >
							<div class="p-3 d-flex">
							<a class="bi flex-shrink-0 me-2" role="img" aria-label="Warning:">
								<img src="/public/images/triste.png"/></a>
							<h5  class="flashErroDetalhes">${flash.error}</h5>
						</div>
						</div>
					  </div>
	#{/if}
		<div class="mb-3">
			<label class="form-label">Nome:</label>
			<input type="text" name="p.nome" class="form-control" value="${p?.nome}">
		</div>

		<div class="mb-3">
			<label class="form-label">CEP:</label>
			<input autocomplete="off" type="text" id="cepPedido" name="p.endereco.cep" class="form-control" value="${p?.endereco?.cep}">
		</div>
		<div class="mb-3">
			<label class="form-label">Número:</label>
			<input autocomplete="off" type="text" id="numero" name="p.numero" class="form-control" value="${p?.numero}">
		</div>
		<div class="mb-3">
			<label class="form-label">Logradouro:</label>
			<input autocomplete="off" type="text" id="logradouro" name="p.endereco.logradouro" class="form-control" value="${p?.endereco?.logradouro}">
		</div>

		<div class="mb-3">
			<label class="form-label">Estados:</label>
			<select name="uf" id="uf">
				<option></option>
				#{list items:ufs, as:'uf'}
					<option value="${uf}" #{if p?.endereco?.bairro?.cidade?.uf == uf} selected #{/if}>${uf}</option>
				#{/list}
			</select>
			<span class='vermelho'>#{error 'uf' /}</span>
		</div>

		<div class="mb-3">
			<label class="form-label">Bairro:</label>
			<input autocomplete="off" type="text" id="bairro" name="bairro" class="form-control" value="${p?.endereco?.bairro?.nome}">
		</div>

		<div class="mb-3">
			<label class="form-label">Cidade:</label>
			<input autocomplete="off" type="text" id="cidade" name="cidade" class="form-control" value="${p?.endereco?.bairro?.cidade?.nome}">
		</div>

		

		<div class="container col-8 d-flex">
			<div class="m-3">
				<label class="form-label">Gás:</label>
				<input type="text" name="p.qntdGas" class="form-control" value="${p?.qntdGas}">
			</div>
			

			</div>

			<div class="container col-8 d-flex">

			<div class="m-3">
				<label class="form-label">Água:</label>
				<input type="text" name="p.qntdAgua" class="form-control" value="${p?.qntdAgua}">
			</div>
		
		</div>
  
		<div class="mb-3">
			<label class="form-label">Data:</label>
			<input type="date" name="p.data" class="form-control" value="${p?.data}">
		</div>
  
  		#{if cliLista?.id}
  		
		<div class="mb-3">
			<label class="form-label">Clientes Fieis: </label>
			<select name="p.cliente.id" class="form-select" aria-label="Default select example">
				<option selected></option>
				#{list items:cliLista, as:'lc'}
				<option value="${lc.id}">${lc.nome}</option>
				#{/list}
			</select>
		</div>	
		
    	#{/if}
		<div class="container d-flex justify-content-center p-3">
			<input class="btn btn-success col-2 " type="submit" />
		</div>
	

	

	</form>


</div>