#{extends 'main.html' /}
#{set title: 'Lista'/}

<br><br><br><br><br><br>
	
<div class="totalPedidosDiv text-white container col-12 justify-content-left d-flex">
	<h2>Total de Pedidos: ${totalPedidos}</h2> 
	<a href="@{Produtos.listar}" class=" ms-5 bgVerde text-white text-decoration-none px-4 py-2 rounded-3">
		Estoque</a>
	</div>
<div class="container d-flex mt-4 flex-row">	
	
	
	#{list items:listaPed, as:'ped'}
	<div class="container col-auto m-4 ">
	<div class="row m-3" >
		<div class="cardListagem justify-content-center ">
			<div class="card text-center bg-transparent text-white border-0">
			
				<div class="card-header border-0 m-3">
					<h5 class="card-title p-2">${ped.nome} <a href="#" class="" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  					<img src="/public/images/informacoes.png" width="24" height="24"></a></h5>
				</div>
				
				<div class="card-body ">
					
					#{if ped.qntdGas>0}
					<p style="font-size: 1.2em;" class="card-text">Gás: ${ped.qntdGas}</p>
					#{/if}
					#{if ped.qntdAgua>0}
					<p style="font-size: 1.2em;" class="card-text">Água: ${ped.qntdAgua}</p>
					#{/if}
					<p style="font-size: 1.2em;" class="card-text">Valor total: $ ${7*ped.qntdAgua+100*ped.qntdGas}.00 </p>
					
				</div>
				
				<div class="card-footer border-0">
					<div class="mt-2">
						<a href="@{Pedidos.editar(ped.id)}" class="bgVerde text-white text-decoration-none px-4 py-2 rounded-3">
                          Editar</a>	
					</div>
					<div class="m-3">
						<a href="@{Pedidos.delete(ped.id)}" class="bgVermelho text-white text-decoration-none px-4 py-2 rounded-3">
                          Remover</a>
					</div>
				</div>
				

			</div>
		</div>
		</div>
	</div>
	#{/list}

	<div class="modal text-white fade modalDetalhesPedido" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content" style="background-color: rgba(59, 59, 59, 0.562);">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">${ped.nome}</h1>
        <h6 class="modal-subtitle">${ped.data.format('dd-MM-yyyy')} </h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
		
        <h5>${ped.endereco}</h5>
		<p>Quantidade de Garrafões de água: ${ped.qntdAgua} </p>
			<p>Valor: $7.00 </p>
		<p>Quantidade de Garrafões de água: ${ped.qntdGas} </p>
		<p> Valor: $100.00</p>
		<p>Endereço: </p>
		${ped.endereco.logradouro}, ${ped.numero} -
		${ped.endereco?.cep} -
	
		${ped.endereco?.bairro?.nome} -
	
		${ped.endereco?.bairro?.cidade?.nome}/${ped.endereco?.bairro?.cidade?.uf}  <br/>
	
      </div>
    </div>
  </div>
</div>




</div>
	


