#{extends 'main.html' /}
#{set title: 'Lista'/}

<div class="container p-3 "> 
    <h2>Lista de Produtos</h2>
</div>
<div class="container col-8  p-4">

	<table class="table table-hover ">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nome</th>
				<th>Preco</th>
			</tr>
		</thead>

		<tbody>
			#{list items:pdt, as:'p'}
			<tr>
				
				<th>${p.id}</th>
				<td>${p.nome}</td>
				<td>${p.preco}</td>

				<td>
					<a class="btn btn-outline-dark" type="submit"  href="@{Produtos.editar(p.id)}">Editar</a>
					<a class="btn btn-outline-dark" type="submit"  href="@{Produtos.deletar(p.id)}">Remover</a>
				</td>
				
			</tr>
			#{/list}
		</tbody>
	</table>
	<div class="container p-3 d-flex justify-content-center ">	
	    <a href="@{Produtos.form}" class=" col-2 btn btn-dark">Cadastrar novo produto</a>
	</div>
</div>