#{extends 'main.html' /}
#{set title: 'Lista'/}

<div class="container p-3 "> 
    <h2>Lista de Produtos</h2>
</div>

<div class="container col-8 p-4 cardDisplayProdutos" >
<div class="row">
	
		<div class="col-12">
	#{list items:pdt, as:'p'}
			<div class=" justify-content-center cardListagemProdutos ">
			<div class="card bg-transparent text-white">
				<div class="card-body">
					
					<h5 class="card-title">${p.nome}</h5>
					<p class="card-text preco">Preço: $ ${p.preco}</p>
					#{if p.estoqueGas > 0}<p class="card-text">Estoque: ${p.estoqueGas}</p>#{/if}			
					#{if p.estoqueAgua > 0}	<p class="card-text">Estoque: ${p.estoqueAgua}</p>#{/if}
					
				</div>
			</div>
		#{/list}
		
	</div>
	</div>
	</div>
		
</div>

</div>